version: '3.8'

services:
  vault:
    image: hashicorp/vault:1.21.0
    container_name: vault
    restart: unless-stopped
    ports:
      - "8200:8200"
    environment:
      VAULT_ADDR: 'http://0.0.0.0:8200'
      VAULT_API_ADDR: 'http://0.0.0.0:8200'
    cap_add:
      - IPC_LOCK
    volumes:
      - ./config:/vault/config
      - ./data:/vault/data
      - ./logs:/vault/logs
    command: server -config=/vault/config/vault.hcl
    healthcheck:
      test: ["CMD-SHELL", "curl --max-time 3 http://localhost:8200/v1/sys/health > /dev/null"]
      interval: 10s
      timeout: 3s
      retries: 3
    networks:
      - vault-network

networks:
  vault-network:
    driver: bridge
